 .cor{
    color: white;
    background-color: #3a3a3a;
    text-align: center;
    border: 3px solid #3a3a2a;
    border-radius: 5px;

}

body{
    display: inline;
   
    align-items: center;
}

.container{
    width: 200px;
    background-color: #3a3a3a;
    height: 200px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.object{
    width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  background: orange;
  align-items: center;
}
